In [12]:
import pandas as pd
import numpy as np
import joblib
import math
from keras.models import load_model

import xgboost as xgb
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Bidirectional, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.layers import Bidirectional
from sklearn.utils.class_weight import compute_class_weight
from tensorflow.keras.utils import to_categorical
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# 전처리 끝낸 데이터
df_train = joblib.load('df_train.pkl')
df_test = joblib.load('df_test.pkl')

# XGR

In [14]:
# 이동평균을 만들어서 해보자

In [15]:
df = df_train.copy()

In [16]:
df_train

,year,month,day,time,minute,stn_id,ws10_deg,ws10_ms,ta,re,hm,sun10,ts,dew_point,vis1,class
895952,0,1,1,0,10,4,0.878333,0.161290,0.273239,0.0,0.163113,0.0,0.075724,NaN,20000.0,4
895953,0,1,1,0,20,4,0.970000,0.236559,0.273239,0.0,0.165245,0.0,0.080178,NaN,20000.0,4
895954,0,1,1,0,30,4,0.939722,0.215054,0.273239,0.0,0.168443,0.0,0.075724,NaN,20000.0,4
895955,0,1,1,0,40,4,0.983056,0.182796,0.270423,0.0,0.174840,0.0,0.075724,NaN,20000.0,4
895956,0,1,1,0,50,4,0.982500,0.247312,0.267606,0.0,0.170576,0.0,0.075724,NaN,20000.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3156455,2,12,31,23,10,4,0.848056,0.827957,0.416901,0.0,0.470149,0.0,0.089087,NaN,20000.0,4
3156456,2,12,31,23,20,4,0.816111,0.612903,0.411268,0.0,0.469083,0.0,0.080178,NaN,20000.0,4
3156457,2,12,31,23,30,4,0.761667,0.526882,0.408451,0.0,0.478678,0.0,0.077951,NaN,20000.0,4
3156458,2,12,31,23,40,4,0.750833,0.494624,0.405634,0.0,0.486141,0.0,0.073497,NaN,20000.0,4
3156459,2,12,31,23,50,4,0.707778,0.440860,0.405634,0.0,0.503198,0.0,0.071269,NaN,20000.0,4

In [17]:
df_train['dew_point'].value_counts()

Series([], Name: dew_point, dtype: int64)

In [18]:
df_train

,year,month,day,time,minute,stn_id,ws10_deg,ws10_ms,ta,re,hm,sun10,ts,dew_point,vis1,class
895952,0,1,1,0,10,4,0.878333,0.161290,0.273239,0.0,0.163113,0.0,0.075724,NaN,20000.0,4
895953,0,1,1,0,20,4,0.970000,0.236559,0.273239,0.0,0.165245,0.0,0.080178,NaN,20000.0,4
895954,0,1,1,0,30,4,0.939722,0.215054,0.273239,0.0,0.168443,0.0,0.075724,NaN,20000.0,4
895955,0,1,1,0,40,4,0.983056,0.182796,0.270423,0.0,0.174840,0.0,0.075724,NaN,20000.0,4
895956,0,1,1,0,50,4,0.982500,0.247312,0.267606,0.0,0.170576,0.0,0.075724,NaN,20000.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3156455,2,12,31,23,10,4,0.848056,0.827957,0.416901,0.0,0.470149,0.0,0.089087,NaN,20000.0,4
3156456,2,12,31,23,20,4,0.816111,0.612903,0.411268,0.0,0.469083,0.0,0.080178,NaN,20000.0,4
3156457,2,12,31,23,30,4,0.761667,0.526882,0.408451,0.0,0.478678,0.0,0.077951,NaN,20000.0,4
3156458,2,12,31,23,40,4,0.750833,0.494624,0.405634,0.0,0.486141,0.0,0.073497,NaN,20000.0,4
3156459,2,12,31,23,50,4,0.707778,0.440860,0.405634,0.0,0.503198,0.0,0.071269,NaN,20000.0,4

In [19]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [20]:
# 시정 구간 분류 함수 정의
def classify_visibility(vis1):
    if vis1 < 200:
        return 1
    elif vis1 < 500:
        return 2
    elif vis1 < 1000:
        return 3
    else:
        return 4

In [21]:
# # 결측치와 무한대 값 처리
# df.replace([np.inf, -np.inf], np.nan, inplace=True)
# df.dropna(inplace=True)

In [22]:
# Feature와 Target 데이터 나누기
# X = df.columns.difference(['year','month','day','time','minute','vis1', 'class']).values
# feature와 target 설정
X = df.drop(columns=['vis1', 'class'])
y_vis1 = df['vis1']
y_class = df['class']

# 데이터 분할
X_train, X_test, y_train_vis1, y_test_vis1, y_train_class, y_test_class = train_test_split(
    X, y_vis1, y_class, test_size=0.2, random_state=42
)

# 스태킹 회귀 모델 정의
estimators = [
    ('svr', SVR()),
    ('rfr', RandomForestRegressor(n_estimators=100, random_state=42)),
    ('xgbr', XGBRegressor(n_estimators=100, random_state=42)),
    ('gbr', GradientBoostingRegressor(n_estimators=100, random_state=42))
]

stacking_regressor = StackingRegressor(
    estimators=estimators,
    final_estimator=LinearRegression()
)

# 회귀 모델 훈련
stacking_regressor.fit(X_train, y_train_vis1)

# vis1 예측
y_pred_vis1 = stacking_regressor.predict(X_test)

# 예측된 vis1을 기반으로 class 분류
y_pred_class = np.array([classify_visibility(vis) for vis in y_pred_vis1])

# 성능 평가 (MSE)
mse = mean_squared_error(y_test_vis1, y_pred_vis1)

# 혼동 행렬 계산
cm = confusion_matrix(y_test_class, y_pred_class, labels=[1, 2, 3, 4])

# CSI 계산 함수
def calculate_csi(cm):
    csi_scores = []
    for i in range(len(cm)):
        TP = cm[i, i]
        FP = cm[:, i].sum() - TP
        FN = cm[i, :].sum() - TP
        CSI = TP / (TP + FP + FN) if (TP + FP + FN) != 0 else 0
        csi_scores.append(CSI)
    return csi_scores

# CSI 계산
csi_scores = calculate_csi(cm)

print(f'Mean Squared Error of vis1 prediction: {mse}')
print(f'CSI scores for each class: {csi_scores}')
print(f'Average CSI: {np.mean(csi_scores)}')

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

# 모델 합치기

In [ ]:
#### 여기까지하고 지희한테 보내기

In [107]:
# fog_test.csv부르기
df_original = pd.read_csv("fog_test.csv", index_col=1)
df_original['fog_test.class'].replace(-99, float('nan'), inplace=True)

In [108]:
# pred_A = pd.read_csv('C:\\Users\\Hong_PC\\Documents\\카카오톡 받은 파일\\240371.csv', index_col=0)
pred_C = pd.read_csv('C:\\Users\\Hong_PC\\Documents\\카카오톡 받은 파일\\240371_2번지역.csv', index_col=0)

In [109]:
# 지역 주의, 예측된 class 값만 df_original에 반영
# df_original.loc[df_original['fog_test.stn_id'].str[0] == 'A', 'fog_test.class'] = pred_A['fog_test.class'].values
# df_original.loc[df_original['fog_test.stn_id'].str[0] == 'B', 'fog_test.class'] = pred_B['class'].values
df_original.loc[df_original['fog_test.stn_id'].str[0] == 'C', 'fog_test.class'] = pred_C['class'].values
# df_original.loc[df_original['fog_test.stn_id'].str[0] == 'D', 'fog_test.class'] = pred_D['class'].values
df_original.loc[df_original['fog_test.stn_id'].str[0] == 'E', 'fog_test.class'] = pred_E['class'].values

In [110]:
df_original

,Unnamed: 0,fog_test.month,fog_test.day,fog_test.time,fog_test.minute,fog_test.stn_id,fog_test.ws10_deg,fog_test.ws10_ms,fog_test.ta,fog_test.re,fog_test.hm,fog_test.sun10,fog_test.ts,fog_test.class
fog_test.year,,,,,,,,,,,,,,
L,1,1,1,0,0,AI,329.5,0.6,-2.5,0.0,87.5,0.0,-1.6,NaN
L,2,1,1,0,10,AI,321.8,1.2,-2.5,0.0,88.2,0.0,-1.6,NaN
L,3,1,1,0,20,AI,0.4,0.4,-2.5,0.0,88.6,0.0,-1.7,NaN
L,4,1,1,0,30,AI,323.6,0.7,-2.6,0.0,88.7,0.0,-1.6,NaN
L,5,1,1,0,40,AI,208.4,0.2,-2.6,0.0,89.0,0.0,-1.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
L,262796,12,31,23,10,ED,338.8,6.1,4.5,0.0,71.3,0.0,1.9,4.0
L,262797,12,31,23,20,ED,335.2,5.8,4.6,0.0,71.4,0.0,1.9,4.0
L,262798,12,31,23,30,ED,337.1,5.3,4.5,0.0,72.1,0.0,1.8,4.0
L,262799,12,31,23,40,ED,322.0,3.7,4.3,0.0,72.5,0.0,1.4,4.0
L,262800,12,31,23,50,ED,33.6,2.8,4.3,0.0,73.7,0.0,1.3,4.0

In [111]:
# 혹시 결측값 있으면 4로 채움 
df_original['fog_test.class'].fillna(4, inplace=True)

In [112]:
df_original['fog_test.class'].value_counts()

4.0    262519
1.0       205
3.0        50
2.0        26
Name: fog_test.class, dtype: int64

In [102]:
df_original.to_csv('240371.csv', index=True)