# 1. 데이터 불러오기(전처리 완료된)

In [1]:
import joblib

# 데스크탑
df = joblib.load('C:\\Users\\Hong_PC\\Desktop\\기상청 날씨 빅데이터 공모전\\과제2\\df_rfr.pkl')

# 노트북
# df = joblib.load('C:\\Users\\User\\Desktop\\기상청 날씨 빅데이터 공모전\\과제2\\df_rfr.pkl')

In [2]:
df

,year,month,day,time,minute,stn_id,ws10_deg,ws10_ms,ta,re,hm,sun10,ts,vis1,class
1,0,1,1,0,10,0,0.0,0.0,-6.4,0.0,38.9,0.0,-2.8,20000.0,4
2,0,1,1,0,20,0,0.0,0.0,-6.3,0.0,37.9,0.0,-2.7,20000.0,4
3,0,1,1,0,30,0,0.0,0.0,-6.3,0.0,40.0,0.0,-2.6,20000.0,4
4,0,1,1,0,40,0,27.8,0.4,-6.2,0.0,39.5,0.0,-2.6,20000.0,4
5,0,1,1,0,50,0,59.7,0.5,-6.1,0.0,39.8,0.0,-2.5,20000.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3156455,2,12,31,23,10,4,305.3,7.7,2.5,0.0,50.2,0.0,-0.9,20000.0,4
3156456,2,12,31,23,20,4,293.8,5.7,2.3,0.0,50.1,0.0,-1.3,20000.0,4
3156457,2,12,31,23,30,4,274.2,4.9,2.2,0.0,51.0,0.0,-1.4,20000.0,4
3156458,2,12,31,23,40,4,270.3,4.6,2.1,0.0,51.7,0.0,-1.6,20000.0,4
3156459,2,12,31,23,50,4,254.8,4.1,2.1,0.0,53.3,0.0,-1.7,20000.0,4

In [3]:
df.columns

Index(['year', 'month', 'day', 'time', 'minute', 'stn_id', 'ws10_deg',
       'ws10_ms', 'ta', 're', 'hm', 'sun10', 'ts', 'vis1', 'class'],
      dtype='object')

In [4]:
# 시간에 해당하는 열 제거
df = df.drop(['year', 'month','day','time','minute'],axis=1)

# 2. SMOTE(Class)

In [5]:
# ! pip install imbalanced-learn
import pandas as pd
from imblearn.combine import SMOTEENN

In [6]:
features = df.columns.difference(['vis1', 'class'])

# feature와 target 분리
X = df[features]
y = df['class']

# SMOTEENN을 사용하여 오버샘플링과 언더샘플링 수행
smote_enn = SMOTEENN(random_state=42)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

# 오버샘플링 및 다운샘플링 후 class 분포
resampled_class_counts = pd.Series(y_resampled).value_counts()

# 샘플링이 적용된 데이터로 새로운 데이터프레임 생성
df_resampled = pd.DataFrame(X_resampled, columns=features)
df_resampled['class'] = y_resampled

In [7]:
df_resampled.shape

(12245709, 9)

In [8]:
# 중요열 3na, 5이동평균 구해보자
# 가중치를 해보자
# 계절별 
# 정상성과 차분

# 3. model(vis1)

In [9]:
df = df_resampled.copy()