In [4]:
import pandas as pd
import numpy as np
import joblib

# 데스크탑
df = pd.read_csv("C:\\Users\\Hong_PC\\Desktop\\기상청 날씨 빅데이터 공모전\\과제2\\fog_train.csv")

# 노트북

In [5]:
# 1열 수정
df = df.drop(columns=[df.columns[0]])
# 열 이름의 . 앞에 단어 제거
df.columns = [col.split('.')[-1] if '.' in col else col for col in df.columns]

In [6]:
df.head

<bound method NDFrame.head of         year  month  day  time  minute stn_id  ws10_deg  ws10_ms   ta   re  \
0          I      1    1     0      10     AA       0.0      0.0 -6.4  0.0
1          I      1    1     0      20     AA       0.0      0.0 -6.3  0.0
2          I      1    1     0      30     AA       0.0      0.0 -6.3  0.0
3          I      1    1     0      40     AA      27.8      0.4 -6.2  0.0
4          I      1    1     0      50     AA      59.7      0.5 -6.1  0.0
...      ...    ...  ...   ...     ...    ...       ...      ...  ...  ...
3156454    K     12   31    23      10     EC     305.3      7.7  2.5  0.0
3156455    K     12   31    23      20     EC     293.8      5.7  2.3  0.0
3156456    K     12   31    23      30     EC     274.2      4.9  2.2  0.0
3156457    K     12   31    23      40     EC     270.3      4.6  2.1  0.0
3156458    K     12   31    23      50     EC     254.8      4.1  2.1  0.0

           hm  sun10   ts   vis1  class
0        38.9    0.0 -2.8  20000      4
1        37.9    0.0 -2.7  20000      4
2        40.0    0.0 -2.6  20000      4
3        39.5    0.0 -2.6  20000      4
4        39.8    0.0 -2.5  20000      4
...       ...    ...  ...    ...    ...
3156454  50.2    0.0 -0.9  20000      4
3156455  50.1    0.0 -1.3  20000      4
3156456  51.0    0.0 -1.4  20000      4
3156457  51.7    0.0 -1.6  20000      4
3156458  53.3    0.0 -1.7  20000      4

[3156459 rows x 15 columns]>

In [7]:
df.info

<bound method DataFrame.info of         year  month  day  time  minute stn_id  ws10_deg  ws10_ms   ta   re  \
0          I      1    1     0      10     AA       0.0      0.0 -6.4  0.0
1          I      1    1     0      20     AA       0.0      0.0 -6.3  0.0
2          I      1    1     0      30     AA       0.0      0.0 -6.3  0.0
3          I      1    1     0      40     AA      27.8      0.4 -6.2  0.0
4          I      1    1     0      50     AA      59.7      0.5 -6.1  0.0
...      ...    ...  ...   ...     ...    ...       ...      ...  ...  ...
3156454    K     12   31    23      10     EC     305.3      7.7  2.5  0.0
3156455    K     12   31    23      20     EC     293.8      5.7  2.3  0.0
3156456    K     12   31    23      30     EC     274.2      4.9  2.2  0.0
3156457    K     12   31    23      40     EC     270.3      4.6  2.1  0.0
3156458    K     12   31    23      50     EC     254.8      4.1  2.1  0.0

           hm  sun10   ts   vis1  class
0        38.9    0.0 -2.8  20000      4
1        37.9    0.0 -2.7  20000      4
2        40.0    0.0 -2.6  20000      4
3        39.5    0.0 -2.6  20000      4
4        39.8    0.0 -2.5  20000      4
...       ...    ...  ...    ...    ...
3156454  50.2    0.0 -0.9  20000      4
3156455  50.1    0.0 -1.3  20000      4
3156456  51.0    0.0 -1.4  20000      4
3156457  51.7    0.0 -1.6  20000      4
3156458  53.3    0.0 -1.7  20000      4

[3156459 rows x 15 columns]>

In [8]:
df.describe

<bound method NDFrame.describe of         year  month  day  time  minute stn_id  ws10_deg  ws10_ms   ta   re  \
0          I      1    1     0      10     AA       0.0      0.0 -6.4  0.0
1          I      1    1     0      20     AA       0.0      0.0 -6.3  0.0
2          I      1    1     0      30     AA       0.0      0.0 -6.3  0.0
3          I      1    1     0      40     AA      27.8      0.4 -6.2  0.0
4          I      1    1     0      50     AA      59.7      0.5 -6.1  0.0
...      ...    ...  ...   ...     ...    ...       ...      ...  ...  ...
3156454    K     12   31    23      10     EC     305.3      7.7  2.5  0.0
3156455    K     12   31    23      20     EC     293.8      5.7  2.3  0.0
3156456    K     12   31    23      30     EC     274.2      4.9  2.2  0.0
3156457    K     12   31    23      40     EC     270.3      4.6  2.1  0.0
3156458    K     12   31    23      50     EC     254.8      4.1  2.1  0.0

           hm  sun10   ts   vis1  class
0        38.9    0.0 -2.8  20000      4
1        37.9    0.0 -2.7  20000      4
2        40.0    0.0 -2.6  20000      4
3        39.5    0.0 -2.6  20000      4
4        39.8    0.0 -2.5  20000      4
...       ...    ...  ...    ...    ...
3156454  50.2    0.0 -0.9  20000      4
3156455  50.1    0.0 -1.3  20000      4
3156456  51.0    0.0 -1.4  20000      4
3156457  51.7    0.0 -1.6  20000      4
3156458  53.3    0.0 -1.7  20000      4

[3156459 rows x 15 columns]>

In [9]:
df.columns

Index(['year', 'month', 'day', 'time', 'minute', 'stn_id', 'ws10_deg',
       'ws10_ms', 'ta', 're', 'hm', 'sun10', 'ts', 'vis1', 'class'],
      dtype='object')

In [11]:
# # 시간
# df['year'].value_counts()
# df['month'].value_counts()
# df['day'].value_counts()
# df['time'].value_counts()
# df['stn_id'].value_counts() # 지역

# -99 있음
# df['ws10_deg'].value_counts() 
# df['ws10_ms'].value_counts()
# df['ta'].value_counts()
# df['re'].value_counts()
# df['hm'].value_counts()
# df['sun10'].value_counts()
# df['ts'].value_counts()
# df['vis1'].value_counts()
# df['class'].value_counts()

 0.0      80275
-99.9      5910
 270.0     1601
 265.9     1535
 265.4     1524
          ...
 171.4      426
 168.2      425
 168.7      424
 167.9      412
 360.0      314
Name: ws10_deg, Length: 3602, dtype: int64

In [11]:
# 'fog_train.vis1'이나 'fog_train.class' 열의 값이 -99.9인 행을 제거합니다.
# df1은 
df1 = df[(df['vis1'] != -99) & (df['class'] != -99)]

In [13]:
df1
df1['class'].value_counts()

4    3101809
3      12180
2      12088
1       7866
Name: class, dtype: int64

In [ ]:
# df1

In [ ]:
# 변수들 -99 NA처리
# 스케일 적용
# 기단별로 묶기